In [2]:
import duckdb
import os

# This makes will check to see if you are in the notebooks
# directory and if so, change working directory
# to root directory
if "notebooks" in os.getcwd():
    os.chdir("..")

In [3]:
def get_connection():
    db_path = os.path.join(
        os.getcwd(),
        "dbt",
        "database",
        "dev",
        "git_r_done_enterprises.duckdb",
    )
    return duckdb.connect(db_path, read_only=True)


conn = get_connection()

df = conn.execute("""
            SELECT *
            FROM worlds_worst_director
        """).fetchdf()

df.head()

,director,total_films_released,total_net_profit,first_film_year,last_film_year,release_year,films_released,net_profit
0,Danny De Vito,2,-71555287.0,2002,2003,2003,1,-29929349.0
1,Danny De Vito,2,-71555287.0,2002,2003,2002,1,-41625938.0
2,Bille August,2,-60060704.0,1997,2007,2007,1,-27282698.0
3,Bille August,2,-60060704.0,1997,2007,1997,1,-32778006.0
4,John Dahl,5,-56597209.0,1996,2007,1998,1,10921898.0