In [1]:
import duckdb
import os

# This makes will check to see if you are in the notebooks
# directory and if so, change working directory
# to root directory
if "notebooks" in os.getcwd():
    os.chdir("..")

In [2]:
def get_connection():
    db_path = os.path.join(
        os.getcwd(),
        "dbt",
        "database",
        "dev",
        "git_r_done_enterprises.duckdb",
    )
    return duckdb.connect(db_path, read_only=True)


conn = get_connection()

df = conn.execute("""
            SELECT *
            FROM jenny_model
        """).fetchdf()

df.head()

   release_year  number_of_films
0          2020                1
1          1954                2
2          1994               52
3          1991               30
4          1983               19