In [1]:
import duckdb
import os

# This makes will check to see if you are in the notebooks
# directory and if so, change working directory
# to root directory
if "notebooks" in os.getcwd():
    os.chdir("..")

In [2]:
def get_connection():
    db_path = os.path.join(
        os.getcwd(),
        "dbt",
        "database",
        "dev",
        "git_r_done_enterprises.duckdb",
    )
    return duckdb.connect(db_path, read_only=True)


conn = get_connection()

df = conn.execute("""
            SELECT *
            FROM sample_model
        """).fetchdf()

df.head()

   release_year mpaa_rating       major_genres  total_worldwide_gross
0          2007   Not Rated  Thriller/Suspense           1.843500e+04
1          1994           R    Romantic Comedy           2.428958e+08
2          1977        None             Comedy           5.825142e+07
3          1959        None    Romantic Comedy           2.460000e+07
4          2007           R             Action           1.095383e+09